body {
    background-color: #E8DCCA;
}

.BreweryContainer {
    height: 600px;
    width: auto;
    padding: 15px 10px 10px 10px;
}

.SearchBar {
    background-color: #ff7575;
    border-radius: 20px;
    padding: 5px;
    width: 350px;
    box-shadow: 0 5px 20px #ff7c7c, 0 0 0 10px #ffffffeb;
    margin-bottom: 20px;
}

.SearchBar input {
    padding: 5px;
    background-color: #ff7575;
    color: #fff;
    font-family: Nunito;
    font-size: 1em;
    border: none;
    outline: none;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
nav {
    background-color: #CFB997;
    padding: 20px;
    text-align: right;
    font-size: 1.2em;
    margin: 5px;
    display: flex;
}

nav h1 {
    flex-grow: 1;
    text-align: left
}

.logo {
    width: 50px;
    height: auto;
}

.Nav {
    padding: 10px
}

.cardImage {
    width: 100px;
    height: auto
}

.card {
    margin: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
}

    .card {
        width: calc(33% - 2rem);
    }
}

@media (min-width: 1024px) {
    .card {
        width: calc(25% - 2rem);
    }
}

@media (min-width: 1200px) {
    .card {
        width: calc(20% - 2rem);
    }
}

.card {
    border-style: solid;
}
